<div class="livraison"></div>

<!-- DEBUT : A AJOUTER SEULEMENT SI CA NE MARCHE PAS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- FIN : A AJOUTER SEULEMENT SI CA NE MARCHE PAS -->

<script>

function getISODate(date){
  function z(n) {return (n<10?'0':'')+n}
  return date.getFullYear() + '-' + z(date.getMonth() + 1) + '-' + z(date.getDate());
}

function addxWorkingDays(date) {
  for (var i=4; i; i--) {

    date.setDate(date.getDate() + 1);

    while(!(date.getDay()%6)) {
      date.setDate(date.getDate() + 1);
    }
  }
  return date;
}

var d = new Date();

var options = {weekday: "long", month: "long", day: "2-digit"};

var newvar = addxWorkingDays(d).toLocaleDateString("fr-FR", options);

console.log(newvar);

$(".livraison").append(newvar);

</script>
