

<div class="livraison-group">{{ section.settings.text-livraison }} <span class="livraison"></span></div>

<!-- DEBUT : A AJOUTER SEULEMENT SI CA NE MARCHE PAS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- FIN : A AJOUTER SEULEMENT SI CA NE MARCHE PAS -->

<script>

function getISODate(date){
  function z(n) {return (n<10?'0':'')+n}
  return date.getFullYear() + '-' + z(date.getMonth() + 1) + '-' + z(date.getDate());
}

function addxWorkingDays(date) {
  for (var i={{ section.settings.days }}; i; i--) {

    date.setDate(date.getDate() + 1);

    while(!(date.getDay()%6)) {
      date.setDate(date.getDate() + 1);
    }
  }
  return date;
}

var d = new Date();

var options = {weekday: "long", month: "long", day: "2-digit"};

var newvar = addxWorkingDays(d).toLocaleDateString("fr-FR", options);

console.log(newvar);

$(".livraison").append(newvar);

</script>


<!-- SCHEMA -->
	{
		"id": "text-livraison",
		"type": "text",
		"default": "Livraison prévue le",
		"label": "Texte livraison"
	},
	{
		"id": "days",
		"type": "range",
		"max": 15,
		"min": 1,
		"step": 1,
		"unit": "📅",
		"default": 4,
		"label": "Texte livraison"
	}
